{{ block "Todos" .}}
<!-- Add todo -->
<form hx-boost="true" action="/todos" method="post" hx-replace-url="true">
    <legend>
        <p>Add Task</p>
    </legend>
    <div class="grid">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" maxlength="100" placeholder="Enter your description">
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form>

<ul class="todo-list" id="todo-list">
    {{ range . }}
    <li class="flex">
        <form hx-boost="true" action="/todos/{{.Id}}" method="put" hx-target="#edit-description">
            <input id="edit-description" name="description" placeholder="edit description" type="text"
                value="{{.Description}}" maxlength="100" />
                <button type="submit"> Save &#9998;</button>
        </form>

        <div hx-delete="/todos/{{.Id}}" hx-trigger="click" hx-target="#page-content">
            {{ if ge .IsDone 1 }}
            <span>&#10003</span>
            {{ else }}
            <span>&#x2717</span>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}